:host {
  .button__section {
    button {
      cursor: pointer;
      white-space: nowrap;

      &.primary {
      }

      &.secondary {
      }

      &.tertiary {
      }

      &:disabled,
      [disabled] {
        cursor: default;
        pointer-events: none;
      }
    }
  }
}
